

body{
    background-color: black;
    margin: 0;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}

.container{
    background-color: black;
    box-shadow: 0px 4px 8px 0px;
    width: 1450px;
    height: 680px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 0.7fr 8.3fr 1fr;
    gap: 20px;
    padding: 10px;
}

.dashboard{
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content{
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot{
    grid-column: span 2;
    border-radius: 8px;
    font-size: xx-large;
    padding: 10px;
    font-family: "Noto",sans-serif;
}

.header{
    grid-column: span 2;
    border-radius: 8px;
    font-size: xx-large;
    font-family: "Noto", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.c{
    box-shadow: 0px 2px 4px 0;
    background: linear-gradient(45deg, #00CFFB, #A7DFF7);
}

.dash{
    width: max-content;
    border-radius: 8px;
    padding: 5px;
    width: 100%;
    box-shadow: 0px 2px 4px 0;
    font-family: "Noto",sans-serif;
    font-weight: bolder;
    background-color: #FEF9D9;
    opacity: 0.8;
}

.dash:hover{
    box-shadow: 0 4px 8px 0;
    opacity: 1;
}


@media (max-width: 1462px) {

    .foot{
        font-size: x-large;
    }

}

@media (max-width: 1110px) {

    .foot{
        font-size: large;
    }

}

@media (max-width: 842px) {

    .foot{
        font-size: medium;
    }

}

@media (max-width: 842px) {

    .foot{
        font-size: small;
    }

}

.header{
    display: flex;
    justify-content:space-between;
}

.profile{
    margin-right: 20px;
    background-color: #FEF9D9;
    padding: 5px;
    border-radius: 50%;
    padding-bottom: 0px;
    box-shadow: 0px 2px 4px 0;
    opacity: 0.8;
    position: relative;
}

.profile:hover{
    box-shadow: 0px 4px 8px 0;
    opacity: 1;
}

.profile_card{
    background-color: #FEF9D9;
    position: absolute;
    top: 11%;
    left: 83%;
    padding: 12px;
    box-shadow: 0px 2px 4px 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 10%;
    position: absolute;
}

.info {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}


.styled {
    background-color: #FEF9D9;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    height: auto;
}

